# Archivo de ejemplo de variables de entorno para desarrollo y producción
PORT=3000
DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pedidosp
# Alternativamente puedes usar una URL de conexión completa
# DATABASE_URL=mysql://root:@127.0.0.1:3306/pedidosp
